*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main-block{
    width: 700px;
    border-bottom: 10px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-top: 10px solid black;
    margin: 50px auto;
}

.main-title{
    font-weight:bold;
    text-transform: capitalize;
    text-align: center;
    padding: 15px;
    background-color: #CCC;
}

.sneaker-image{
    width: 200px;
    height: 200px;
}

.price-and-shipping{
    margin: 20px 0px;
}

.price{
    font-weight: bold;
    font-size: 25px;
}

.free-shipping{
    font-weight: bold;
    font-size: 15px;
    color: grey;
}

.description-box{
    margin: 20px 0px;
}

.description{
    margin: 10px 0;
}

.description-link{
    color: black;
}

.details-list{
    margin: 20px 20px;
}

.description-link:hover{
    text-decoration: none;
}

.product-details{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

li{
    margin: 10px;
}

.add-to-card{
    border: none;
    background-color: black;
    color: white;
    padding: 15px;
    width: 100%;
    text-transform: uppercase;
    font-size: 20px;
}

.add-to-card:hover{
    background-color: white;
    color: black;
    border-top: 5px solid black;
}


